@charset "utf-8";
/* Css Document */
#hengfu01{
	width:100%;
	height:100px;
	background:#E2131B;
}
	#hengfu01 img{
		display:block;
		width:1210px;
		height:100px;
		margin:0px auto;
	}

/* 服装城下拉框区开始 */
	#logo_search h2.fuzhuang{
		position:absolute;
		left:178px;
		top:40px;
	}
	#logo_search a.slection{
		display:block;
		width:73px;
		height:25px;
		border:solid 1px #CCCCCC;
		position:absolute;
		left:248px;
		top:37px;
		line-height:25px;
		text-indent:5px;
		background:url(../images/fuzhuangchen/2.jpg) no-repeat 57px 0px;
	}
	#logo_search form.search_funzhuang input.text{
		width:454px;
		height:32px;
		border:solid 2px #CC2954;
		border-right:none;
		position:absolute;
		left:362px;
		top:25px;
		line-height:32px;
		text-indent:4px;
		font-family:"Microsoft YaHei";
		color:#666666;
		word-spacing:4px;
	}
	#logo_search form.search_funzhuang button.button{
		width:82px;
		height:36px;
		border:none;
		background:#b61d1d;
		font-size:16px;
		line-height:36px;
		color:#f3dada;
		text-align:center;
		position:absolute;
		left:818px;
		top:25px;
	}
	#logo_search p.tishi span{
		float:left;
	}
/* 服装城下拉框区结束 */

/* 导航区开始 */
/* 左侧全部商品分类区开始 */
#meinu_box .mid_content div.fuzhuangcheng{
	width:240px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	background:#CC2954;
}
	#meinu_box .mid_content div.fuzhuangcheng a.quanfen_lei{
		display:block;
		width:240px;
		height:46px;
		line-height:46px;
		text-indent:10px;
		color:#ffffff;
		font-size:15px;
	}
	/* 下拉框区开始 */
	#meinu_box .mid_content div.fuzhuangcheng ul{
		width:240px;
		background:#CC2954;
	}
	#meinu_box .mid_content div.fuzhuangcheng ul li{
		width:238px;
		padding-left:2px;
		height:36px;
		line-height:36px;
	}
	/* 显示区开始 */
	#meinu_box .mid_content div.fuzhuangcheng ul li p.show{
		width:238px;
		height:36px;
		line-height:36px;
		text-indent:8px;
		color:#ffffff;
		font-size:14px;
		background:url(../images/fenli_jiantou.png) no-repeat 192px 14px;
	}
	#meinu_box .mid_content div.left_fenlei ul li p.teshu{
		background:#F67E9E;
	}
	#meinu_box .mid_content div.fuzhuangcheng ul li p.show:hover{
		background:#ffffff;
		color:#CF2653;
	}
	/* 显示区结束 */
	/* 下拉框区结束 */
/* 左侧全部商品分类区结束 */
	/* 右侧导航区开始 */
		#meinu_box .mid_content ul.fz_meinu_right{
			height:44px;
			position:absolute;
			left:240px;
			top:0px;
			overflow:hidden;
		}
		#meinu_box .mid_content ul.fz_meinu_right li{
			float:left;
			height:44px;
			/* position:relative; */
		}
		#meinu_box .mid_content ul.fz_meinu_right li a{
			display:block;
			height:44px;
			padding:0px 20px;
			line-height:44px;
			font-size:16px;
			float:left;
		}
		/* 右侧导航区结束 */
/* 导航区结束 */
/* 大轮播图区开始 */
#lunbo_fuzhuang{
	width:1920px;
	height:515px;
	margin:0px auto;
}
	#lunbo_fuzhuang img{
		width:1920px;
		height:469px;
	}
/* 大轮播图区结束 */
/* 特色主题区开始 */
#teshe_zhuti{
	height:511px;
	overflow:hidden;
	/* border:solid 1px red; */
}
	/* 标题区开始 */
	#teshe_zhuti h2{
		font-size:26px;
		font-weight:400;
		color:#000000;
		width:1210px;
		height:36px;
		overflow:hidden;
		border-bottom:solid 2px #000000;
	}
	/* 标题区结束 */

	/* 下方展示框区开始 */
		#teshe_zhuti div.ts_zt_show{
			height:422px;
			overflow:hidden;
		}
			#teshe_zhuti div.ts_zt_show a{
				display:block;
				float:left;
				overflow:hidden;
				position:relative;
			}
			#teshe_zhuti div.ts_zt_show span.miaoshu{
				font-family:"microsoft yahei";
				font-size:12px;
				color:#cc2954;
			}
			#teshe_zhuti div.ts_zt_show span.title{
				font-family:"microsoft yahei";
				font-size:20px;
				color:#000000;
			}
		/* 第一块区开始 */
		#teshe_zhuti div.ts_zt_show a.num1{
			width:404px;
			height:422px;
		}
			#teshe_zhuti div.ts_zt_show a.num1 img{
				width:404px;
				height:422px;
			}
		/* 第一块区结束 */
		/* 第二块区开始 */
		#teshe_zhuti div.ts_zt_show div.num2{
			width:404px;
			height:422px;
			float:left;
			overflow:hidden;
			/* background:pink; */
		}
			#teshe_zhuti div.ts_zt_show div.num2 a{
				width:404px;
				height:210px;
				border-bottom:solid 1px #F4F4F4;
				position:relative;
			}
				#teshe_zhuti div.ts_zt_show div.num2 a img{
					width:270px;
					height:180px;
					position:absolute;
					right:0px;
					top:30px;
				}
				#teshe_zhuti div.ts_zt_show div.num2 a span.title{
					position:absolute;
					left:20px;
					top:30px;
					
				}
				#teshe_zhuti div.ts_zt_show div.num2 a span.miaoshu{
					position:absolute;
					left:20px;
					top:60px;
				}
		/* 第二块区结束 */
		/* 第三块区开始 */
		#teshe_zhuti div.ts_zt_show a.num3{
			width:201px;
			height:421px;
			background:#F0F0F4;
			border-bottom:solid 1px #F4F4F4;
		}
			#teshe_zhuti div.ts_zt_show a.num3 img{
				width:180px;
				height:340px;
				position:absolute;
				right:0px;
				top:81px;
			}
			#teshe_zhuti div.ts_zt_show a.num3 span.title{
				position:absolute;
				left:20px;
				top:30px;
				
			}
			#teshe_zhuti div.ts_zt_show a.num3 span.miaoshu{
				position:absolute;
				left:20px;
				top:60px;
			}
		/* 第三块区结束 */
		/* 第四块区开始 */
		#teshe_zhuti div.ts_zt_show div.num4{
			width:201px;
			height:422px;
			float:left;
			overflow:hidden;
			/* background:pink; */
		}
			#teshe_zhuti div.ts_zt_show div.num4 a{
				width:201px;
				height:210px;
				border-bottom:solid 1px #F4F4F4;
				position:relative;
			}
				#teshe_zhuti div.ts_zt_show div.num4 a img{
					width:130px;
					height:160px;
					position:absolute;
					right:0px;
					top:50px;
				}
				#teshe_zhuti div.ts_zt_show div.num4 a span.title{
					position:absolute;
					left:20px;
					top:30px;
					
				}
				#teshe_zhuti div.ts_zt_show div.num4 a span.miaoshu{
					position:absolute;
					left:20px;
					top:60px;
				}
		/* 第四块区结束 */
	/* 下方展示框区结束 */
/* 特色主题区结束 */
/* 1F女装/内衣区开始 */
#wm_neiyi_1F{
	height:673px;
	overflow:hidden;
	border-bottom:solid 1px #EFEFEF;
	position:relative;
}
	/* 标题区开始 */
	#wm_neiyi_1F h2{
		font-size:26px;
		font-weight:400;
		color:#000000;
		width:1210px;
		height:36px;
		overflow:hidden;
		border-bottom:solid 2px #000000;
	}
	/* 标题区结束 */
	/* 左侧区开始 */
	#wm_neiyi_1F .left{
		width:404px;
		height:635px;
		overflow:hidden;
		position:absolute;
		left:0px;
		top:38px;
		/* background:red; */
		background:url(../images/fuzhuangchen/1F/1.jpeg) no-repeat 0px 0px;
	}
		/* 下方内容区开始 */
		#wm_neiyi_1F .left .bott_content{
			width:404px;
			height:210px;
			overflow:hidden;
			position:absolute;
			left:0px;
			top:425px;
			/* background:blue; */
		}
			#wm_neiyi_1F .left .bott_content p{
				width:182px;
				padding-left:20px;
				height:105px;
				overflow:hidden;
				float:left;
			}
				#wm_neiyi_1F .left .bott_content p span{
					display:block;
					height:36px;
					width:182px;
					line-height:36px;
					font-family:"microsoft yahei";
					font-size:16px;
					color:#000000;
					font-weight:400;
					float:left;
				}
				#wm_neiyi_1F .left .bott_content p a{
					display:block;
					width:91px;
					float:left;
					height:20px;
					line-height:20px;
				}
				#wm_neiyi_1F .left .bott_content p a.teshu{
					color:#c81623;
				}
		/* 下方内容区结束 */
	/* 左侧区结束 */
	/* 右侧区开始 */
	#wm_neiyi_1F .right{
		width:806px;
		height:635px;
		overflow:hidden;
		position:absolute;
		left:404px;
		top:38px;
	}
		#wm_neiyi_1F .right a{
			display:block;
			position:relative;
			border-right:solid 1px #EFEFEF;
			border-bottom:solid 1px #EFEFEF;
			float:left;
			overflow:hidden;
		}
			#wm_neiyi_1F .right a img{
				position:absolute;
				left:0px;
				top:0px;
			}
		#wm_neiyi_1F .right a.num1{
			width:201px;
			height:423px;
		}
		#wm_neiyi_1F .right a.num2{
			width:201px;
			height:211px;
		}
		#wm_neiyi_1F .right a.num4{
			width:201px;
			height:211px;
			position:absolute;
			left:202px;
			top:212px;
		}
	/* 右侧区结束 */
/* 1F女装/内衣区结束 */

/* 品牌区开始 */
ul#fuzhuang_pinpai{
	height:60px;
	padding:15px 0px;
	border-bottom:solid 1px #EFEFEF;
	margin-bottom:50px;
}
	ul#fuzhuang_pinpai li{
		width:135px;
		height:60px;
		padding:0px 7px;
		float:left;
		overflow:hidden;
	}
		ul#fuzhuang_pinpai li img{
			width:135px;
			height:60px;
		}
/* 品牌区结束 */ 

/* 2F男装/内衣区开始 */
#man_neiyi_2F{
	height:673px;
	overflow:hidden;
	border-bottom:solid 1px #EFEFEF;
	position:relative;
}
	/* 标题区开始 */
	#man_neiyi_2F h2{
		font-size:26px;
		font-weight:400;
		color:#000000;
		width:1210px;
		height:36px;
		overflow:hidden;
		border-bottom:solid 2px #000000;
	}
	/* 标题区结束 */
	/* 左侧区开始 */
	#man_neiyi_2F .left{
		width:404px;
		height:635px;
		overflow:hidden;
		position:absolute;
		left:0px;
		top:38px;
		/* background:red; */
		background:url(../images/fuzhuangchen/2F/1.jpeg) no-repeat 0px 0px;
	}
	#man_neiyi_2F a{
		display:block;
		float:left;
		position:relative;
		overflow:hidden;
	}
		/* 下方内容区开始 */
		#man_neiyi_2F .left .bott_content{
			width:404px;
			height:210px;
			overflow:hidden;
			position:absolute;
			left:0px;
			top:425px;
			/* background:blue; */
		}
			#man_neiyi_2F .left .bott_content p{
				width:182px;
				padding-left:20px;
				height:105px;
				overflow:hidden;
				float:left;
			}
				#man_neiyi_2F .left .bott_content p span{
					display:block;
					height:36px;
					width:182px;
					line-height:36px;
					font-family:"microsoft yahei";
					font-size:16px;
					color:#000000;
					font-weight:400;
					float:left;
				}
				#man_neiyi_2F .left .bott_content p a{
					display:block;
					width:91px;
					float:left;
					height:20px;
					line-height:20px;
				}
				#man_neiyi_2F .left .bott_content p a.teshu{
					color:#c81623;
				}
		/* 下方内容区结束 */
	/* 左侧区结束 */
	/* 右侧区开始 */
		/* 第一块区开始 */
		#man_neiyi_2F div.num1{
			width:202px;
			height:635px;
			overflow:hidden;
			position:absolute;
			left:404px;
			top:38px;
		}
			#man_neiyi_2F div.num1 a{
				border-right:solid 1px #EFEFEF;
				border-bottom:solid 1px #EFEFEF;
			}		
		/* 第一 块区结束 */
		/* 第二块区开始 */
		#man_neiyi_2F div.num2{
			width:202px;
			height:635px;
			overflow:hidden;
			position:absolute;
			left:606px;
			top:38px;
		}
			#man_neiyi_2F div.num2 a{
				width:201px;
				height:211px;
				float:left;
			}
			#man_neiyi_2F div.num2 a{
				border-right:solid 1px #EFEFEF;
				border-bottom:solid 1px #EFEFEF;
			}
		/* 第二块区结束 */
		/* 第三块区开始 */
		#man_neiyi_2F div.num3{
			width:402px;
			height:635px;
			overflow:hidden;
			position:absolute;
			left:808px;
			top:38px;
		}

		/* 第三块区结束 */
	/* 右侧区结束 */
/* 2F男装/内衣区结束 */